/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  background-color: #00efa0;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

.green-color {
  color: #00efa0;
}

.blue-color {
  color: #0a5175;
}

.green-background {
  background-color: #00ef00;
}

.blue-background {
  background-color: #0a5175;
}
p {
  font-size: 1.3em;
}
table {
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}

tr {
  border-bottom: 1px solid #fff;
}

.break {
	width: 100%;
	word-break: break-all;
	font-size: 1.3em;
}

@media (max-width: 480px) {
  h1, .h1 {
    font-size: 30px;
  }
    h2, .h2 {
    font-size: 24px;
  }
    h3, .h3 {
    font-size: 18px;
  }
    h4, .h4 {
    font-size: 14px;
  }
    h5, .h5 {
    font-size: 10px;
  }
    h6, .h6 {
    font-size: 8px;
  }
}

.img-ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}

.img-ul li {     
  list-style:none;
  margin-bottom:25px;           
}

.img-ul li img {
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #fff;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #00efa0;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #00ffaa;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #00efa0;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #00ffaa;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 15px 15px 0 0;
}

.btn {
  color: #00efa0;
  background-color: #fff;
  border-color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: #00efa0;
  border-color: #fff;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: #00efa0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.main-content {
  background: #0a5175;
  padding: 50px 0;
  color: #ffffff;
}

.main-content-alternate {
  background: #00efa0;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  background-color: #fff;
  color: #00efa0;
  display: table;
  height: 300px;
  width: 100%;
  padding: 20px 10px 20px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 20px 0 20px 0 #888;

}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
  border-top: 15px solid #fff;
  border-bottom: 15px solid #fff;
  box-shadow: 20px 0 20px 0 #888;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 50px 0;
  display: block;
  position: relative;
  background: #00efa0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

.icon-link {
  color: #fff;
}

.icon-link:hover {
  color: #fff;
}

.icon-link:active {
  color: #fff;
}

.icon-link:visited {
  color: #fff;
}

.center {
  text-align: center;
}

.thick {
  height: 3px;
  background-color: #fff;
}

.short {
  width: 50%;
}

/* Responsive */


@media (max-width: 768px) {

  .header {
	background: #00efa0; 
  }

  .map {
	height: 75%;
  }

}

.scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
/**************** Navigation Bar - Full ****************/
.nav > li > a {
  color: #00efa0;
}

.navbar, .navbar-fixed-top {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 20px 0 #888;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.dropdown-menu {
  border-radius: 5px;
  border: none;
}

.dropdown-menu > li > a {
  color: #00efa0;
}

.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #00efa0;
}

.navbar-toggle {
   color: #fff;
   background-color: #00efa0;
}

.nav > li > a:hover {
  color: #fff;
  background-color: #00efa0;
}

.nav > .dropdown > a:hover {
  background-color: #00efa0;
}

.location {
  color: #fff;
  background: #00efa0;
  padding: 50px 0;
  
}

/**************** Navigation Bar - Mobile ****************/
@media (max-width: 768px) {
    .nav > li > a {
    font-size: 1.4em;
  }
  .dropdown-menu > li > a {
    font-size: 1.25em;
    color: #fff;
    background-color: #0a5175;
  }
}


/**************** Popover ****************/
.popover {
  color: #00efa0;
  background-color: #fff;
}
.popover-icon > i {
  color: #fff;
}
.hoverable { 
  text-decoration: none;
}
/**************** Form Modal ****************/
.modal-title {
  color: #00efa0;
}

.modal-body {
  color: #0a5175;
}

.alternate-background {
  background-color: #0a5175;
  color: #fff;
}

.modal-footer {
  color: #00efa0;
}

.btn-custom-form {
  color: #fff;
  background-color: #00efa0;
  
}
.text-color {
  color: #00efa0;
}

.btn-custom-form:hover {
  color: #00efa0;
  background-color: #fff;
  border-color: #00efa0;
}

.input-border {
  border: 1px solid #fff;
}
.show-on-submit, .show-on-error, .show-on-error-banner, .show-on-notification-banner {
  display: none;
}

.thankyou {
  color: #00efa0;
  vertical-align: middle;
  text-align: center;
}

.error {
  color: #cd5f5c;
  vertical-align: middle;
  text-align: center;
}

.invalid {
  color: #fff;
  background-color: #cd5f5c;
}
 
.valid {
  color: #fff;
  background-color: #00efa0;
  border: 5px solid #fff;
}

.col-form {
  margin: 5px;
}
/**************** Images ****************/

.rotate-img-90 {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}

.bottom {
  vertical-align: bottom;
}

/**************** Portfolio Text ****************/

.lead {
  font-size: 1.25em;
}
/**************** Carousel ****************/
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
  margin: auto;
}

.carousel-inner > .item {
    -webkit-transition: 5s linear left;
    -moz-transition: 5s linear left;
    -o-transition: 5s linear left;
}

/**************** Page Animation ****************/

.slide-down-onload {
  display: none;
}
.slide-up-onload {
  display: none;
}
.hoverable-color {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.color-on-hover {
  color: #fff;
  background-color: #0a5175;
  border-radius: 5px;
}
@media(min-width: 768px){
	.hoverable-color:hover {
  	-webkit-transform: scale(1.05);
  	-moz-transform: scale(1.05);
  	-ms-transform: scale(1.05);
 	 -o-transform: scale(1.05);
 	 transform: scale(1.05);
  	z-index: 99;
	}
}

@media(min-width: 1024px){
	.hoverable-color:hover {
  	-webkit-transform: scale(1.15);
  	-moz-transform: scale(1.15);
  	-ms-transform: scale(1.15);
 	 -o-transform: scale(1.15);
 	 transform: scale(1.15);
  	z-index: 99;
	}
}
.thumb {
    position: relative;
}
.text, .text-js {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #999;
    background: rgba(0,239,160,0.8);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}
.thumb:hover .text {
    display: block;
}

.error-msg {
  color: #fff;
  background-color: #cd5f5c;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
}

.notification-msg {
  color: #fff;
  background-color: #0a5175;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
}

.error-msg, .notification-msg> p {
	margin-top: 50px;
	padding: 5px;
}

.load-warning-msg {
  display: none;
}

@media(min-width: 768px){
.ribbon {
  margin-top: 60px;
  margin-left: -10px;
  background-color: #fff;
  position: absolute;
  color: #0a5175;
  padding: 0 25px 0 25px;
  border-top: 3px ridge #00efa0;
  border-bottom: 3px ridge #00efa0;
  border-right: 3px ridge #00efa0;
  border-radius: 5px;
  z-index: 1000;
  text-align: right;
  float: right;
  box-shadow: 5px 5px 5px 5px #0a5175;
  overflow: hidden;

  }
}

.vert-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-top: 5%;
}

.vert-text-footer {
  position: absolute;
  display: table;
  color: #00efa0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  bottom: 0;
  margin-bottom: -115px;
  box-shadow: 20px 0 20px 0 #888;
  padding: 3px 10px 3px 10px;
}

.vert-text-footer-col {
  display: table-cell;
  padding: 3px 3px 3px 3px;
  vertical-align: middle;
}

.vert-text-footer-special {
  color: #fff;
  background-color: #0a5175;
  border-radius: 5px;
  padding: 1px 1px 1px 1px;
}

.img-zoom {
  width: 400px;
  z-index: 1;
}

.img-zoom:hover {
    -ms-transform:translate(0, -50%) scale(2); /* IE 9 */
    -moz-transform:translate(0, -50%) scale(2); /* Firefox */
    -webkit-transform:translate(0, -50%) scale(2); /* Safari and Chrome */
    -o-transform:translate(0, -50%) scale(2); /* Opera */
    transform:translate(0, -50%) scale(2);
    z-index: 1000;
}

/**************** Custom Map ****************/
#map_canvas {
  width: 100%;
  height: 400px;
}

/*************** Sign In Form ***************/
.custom-form {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.custom-form > input, textarea, select {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #00efa0;
	border-radius: 5px;
	color: #00efa0;
}

.custom-form-lg {
	display: block;
}

.custom-form-lg > input, textarea, select {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #00efa0;
	border-radius: 5px;
	color: #00efa0;
}

.slider {
  background-color: #0a5175;
  color: #fff;
  border: none;
}

input[type='range'] {
		-webkit-appearance: none;
		border-radius: 5px;
		height: 10px;
		vertical-align: middle;
	}
input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
	}
input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 20px;
		background-color: #FFF;
		border: 1px solid #999;
		height: 10px;
		width: 30px;
	}
input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 20px;
		background-color: #FFF;
		height: 10px;
		width: 30px;
	}

/*************** Analytics Formatting ***************/
.img-analytics {
	border-radius: 5px;
	border: 5px solid #fff;
	width: 80%;
	//height 350px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}